body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
}

input, select, textarea {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  background: #22c55e;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

textarea {
  height: 120px;
}